body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    display: flex ;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: moccasin;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 80%;
    height: 65%;
    max-height: 1600px;
    max-width: 1080px;
}
.title{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
}
.addBook{
    position:absolute;
    bottom: 40px;
    
}
#bookInfo{
    font-size: x-large;
    border-radius: 25px;
    padding: 5px;
}
.booth{
    display: grid;
    width: 85%;
    height: 75%;
    background-color: aqua;
    gap: 15px;
    grid-template-rows: repeat(auto-fit, minmax(120px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    place-content: center;
}
.card{
    background-color: orange;
    border-radius: 15px;
}
.form{
    display: none;
}